<article class="media-article">

	<header>
		<h2 class="media-article-heading">
			<a href="{{ this.url }}">
				{{ this.title }}
			</a>
		</h2>
		<p class="media-article-metadata">
			<span
				class="article-metadata-group has-tooltip has-tooltip-top"
				aria-label="Topics"
			>
				{{> icon name="tags" }}
				{{#if this.topics}}
					{{ this.topics }}
				{{else}}
					No Topics
				{{/if}}
			</span>
			<span
				class="article-metadata-group has-tooltip has-tooltip-top"
				aria-label="{{fullDate this.date }}"
			>
				{{> icon name="time" }}
				{{#if this.date}}
					<time datetime="{{ this.date }}">
						{{date this.date }}
					</time>
				{{else}}
					No Date
				{{/if}}
			</span>
		</p>
	</header>

	<div class="media-article-content">
		<p>{{ this.description }}</p>
	</div>

</article>
