{{#> layout }}

	<article class="article">

		{{#if this.image}}
			<figure class="article-image">
				<img src="/assets/images/articles/{{ this.image.name }}" alt="{{ this.image.desc }}" />
			</figure>
		{{/if}}

		<p class="article-metadata">
			<span
				class="article-metadata-group has-tooltip has-tooltip-top"
				aria-label="Topics"
			>
				{{> icon name="tags" }}
				{{#if this.topics}}
					{{ this.topics }}
				{{else}}
					No Topics
				{{/if}}
			</span>
			<span
				class="article-metadata-group has-tooltip has-tooltip-top"
				aria-label="{{date this.date }}"
			>
				{{> icon name="time" }}
				{{#if this.topics}}
					<time datetime="{{ this.date }}">
						{{timeago this.date }}
					</time>
				{{else}}
					No Date
				{{/if}}
			</span>
		</p>

		<div class="article-content readable">
			{{{ contents }}}
		</div>

	</article>

	<div class="share">

		<!-- Branded Twitter button -->
		<a class="share-btn share-btn-branded share-btn-twitter"
		   href="https://twitter.com/share?url={{ site.base_url }}{{ this.url }}&text={{ this.title }}&via=SunnySinghIO"
	   	>
			<span class="share-btn-icon"></span>
			<span class="share-btn-text">Tweet</span>
		</a>

		<!-- Branded Facebook button -->
		<a class="share-btn share-btn-branded share-btn-facebook"
		   href="https://www.facebook.com/sharer/sharer.php?u={{ site.base_url }}{{ this.url }} "
		>
			<span class="share-btn-icon"></span>
			<span class="share-btn-text">Share</span>
		</a>

		<!-- More button -->
		<a class="share-btn share-btn-more"
		   href="https://socialshar.es/share.html?url={{ site.base_url }}{{ this.url }} &title={{ this.title }}&text={{ this.title }}&hide-services=twitter,facebook"
		>
			<span class="share-btn-icon"></span>
			<span class="share-btn-text">More</span>
		</a>

	</div>

	<div
		class="comments"
		id="comments"
		data-disqus-title="{{ this.title }}"
		data-disqus-url="{{ site.base_url }}{{ this.url }}"
		data-disqus-identifier="{{ this.disqus.identifier }}"
	>

		<noscript>JavaScript must be enabled to view or submit comments.</noscript>

		<button class="btn" data-comments-btn>
			{{> icon name="comments" }}
			Show Comments
		</button>

		<!-- The disqus_thread div is where Disqus loads the comments -->
		<div id="disqus_thread"></div>

	</div>

{{/layout}}
