---
section: projects
layout: layout.hbs
title: CodeBee
description: Connect with other developers and designers.
---

<div class="project">

    <section class="project-about">

        <h2>About The Project</h2>

        <p class="readable">
            CodeBee is an internal project from <a href="https://ninjality.com/">Ninjality</a> on which I work on as the lead developer. I want to give back to the community with a service that I think can be really useful. CodeBee fills a unique niche  by providing a way for developers and designers to share tutorials, questions, and projects.
        </p>

        <p class="readable">
            Being a big project, it was important for me to architect it in the right way. This came down to a plethora of services and tools that made going from development to shipping a real product faster. This was also my first major use of the Laravel framework which was a joy to learn.
        </p>

        <div class="project-preview">
            <a href="https://codebee.io/">
                <img class="project-preview-img" src="/{{ fingerprint.[assets/images/screenshots/codebee.png] }}" alt="" />
                <span class="project-preview-text">
                    <span>Visit Website</span>
                </span>
            </a>
        </div>

    </section>

    <section class="project-stack">

        <h2>Tech Stack</h2>

        <p>
            Here are the tools used for this project. You can also see this stack on <a href="http://stackshare.io/codebee/codebee">StackShare</a>.
        </p>

        <h3>Services</h3>

        <ul class="project-tools">
            <li>
                <span class="project-tools-icon">
                    <img src="/{{ fingerprint.[assets/svg/icons/digitalocean.svg] }}" alt="" width="32" />
                </span>
                <p class="project-tools-desc">
                    <a href="https://www.digitalocean.com/?refcode=8ffaa9c63efa">DigitalOcean (referral link)</a> for reliable cloud hosting.
                </p>
            </li>
            <li>
                <span class="project-tools-icon">
                    <img src="/{{ fingerprint.[assets/svg/icons/cloudflare.svg] }}" alt="" width="32" />
                </span>
                <p class="project-tools-desc">
                    <a href="https://www.cloudflare.com/">CloudFlare</a> for managing DNS-level performance and security.
                </p>
            </li>
            <li>
                <span class="project-tools-icon">
                    <img src="/{{ fingerprint.[assets/svg/icons/amazon-s3.svg] }}" alt="" width="32" />
                </span>
                <p class="project-tools-desc">
                    <a href="https://aws.amazon.com/s3/">Amazon S3</a> for serving user assets.
                </p>
            </li>
            <li>
                <span class="project-tools-icon">
                    <img src="/{{ fingerprint.[assets/svg/icons/bitbucket.svg] }}" alt="" width="32" />
                </span>
                <p class="project-tools-desc">
                    <a href="https://bitbucket.org/">Bitbucket</a> for source code hosting.
                </p>
            </li>
            <li>
                <span class="project-tools-icon">
                    <img src="/{{ fingerprint.[assets/svg/icons/mandrill.svg] }}" alt="" width="32" />
                </span>
                <p class="project-tools-desc">
                    <a href="http://mandrill.com/">Mandrill</a> for sending transactional emails.
                </p>
            </li>
            <li>
                <span class="project-tools-icon">
                    <img src="/{{ fingerprint.[assets/svg/icons/new-relic.svg] }}" alt="" width="32" />
                </span>
                <p class="project-tools-desc">
                    <a href="http://newrelic.com/">New Relic</a> for server monitoring.
                </p>
            </li>
            <li>
                <span class="project-tools-icon">
                    <img src="/{{ fingerprint.[assets/images/icons/google-fonts.png] }}" alt="" width="32" />
                </span>
                <p class="project-tools-desc">
                    <a href="https://www.google.com/fonts/">Google Fonts</a> for embedding the <a href="https://www.google.com/fonts/specimen/Lato">Lato typeface</a>.
                </p>
            </li>
            <li>
                <span class="project-tools-icon">
                    <img src="/{{ fingerprint.[assets/svg/icons/google-analytics.svg] }}" alt="" width="32" />
                </span>
                <p class="project-tools-desc">
                    <a href="https://www.google.com/analytics/">Google Analytics</a> for viewing visitor statistics.
                </p>
            </li>
            <li>
                <span class="project-tools-icon">
                    <img src="/{{ fingerprint.[assets/svg/icons/trello.svg] }}" alt="" width="32" />
                </span>
                <p class="project-tools-desc">
                    <a href="https://trello.com/">Trello</a> for project management.
                </p>
            </li>
            <li>
                <span class="project-tools-icon">
                    <img src="/{{ fingerprint.[assets/svg/icons/google.svg] }}" alt="" width="32" />
                </span>
                <p class="project-tools-desc">
                    <a href="https://apps.google.com/">Google Apps</a> for email accounts.
                </p>
            </li>
            <li>
                <span class="project-tools-icon">
                    <img src="/{{ fingerprint.[assets/svg/icons/slack.svg] }}" alt="" width="32" />
                </span>
                <p class="project-tools-desc">
                    <a href="https://slack.com/">Slack</a> for team communication and alerts.
                </p>
            </li>
        </ul>

        <h3>Development</h3>

        <ul class="project-tools">
            <li>
                <span class="project-tools-icon">
                    <img src="/{{ fingerprint.[assets/svg/icons/icomoon.svg] }}" alt="" width="32" />
                </span>
                <p class="project-tools-desc">
                    <a href="https://icomoon.io/">IcoMoon</a> for generating SVG icons.
                </p>
            </li>
            <li>
                <span class="project-tools-icon">
                    <img src="/{{ fingerprint.[assets/svg/icons/hhvm.svg] }}" alt="" width="32" />
                </span>
                <p class="project-tools-desc">
                    <a href="http://hhvm.com/">HHVM</a> for fast-processing PHP.
                </p>
            </li>
            <li>
                <span class="project-tools-icon">
                    <img src="/{{ fingerprint.[assets/svg/icons/mysql.svg] }}" alt="" width="32" />
                </span>
                <p class="project-tools-desc">
                    <a href="http://dev.mysql.com/">MySQL</a> for database storage.
                </p>
            </li>
            <li>
                <span class="project-tools-icon">
                    <img src="/{{ fingerprint.[assets/svg/icons/laravel.svg] }}" alt="" width="32" />
                </span>
                <p class="project-tools-desc">
                    <a href="https://laravel.com/">Laravel</a> for building the back-end.
                </p>
            </li>
            <li>
                <span class="project-tools-icon">
                    <img src="/{{ fingerprint.[assets/svg/icons/bootstrap.svg] }}" alt="" width="32" />
                </span>
                <p class="project-tools-desc">
                    <a href="http://getbootstrap.com/">Bootstrap</a> for designing the front-end.
                </p>
            </li>
            <li>
                <span class="project-tools-icon">
                    <img src="/{{ fingerprint.[assets/svg/icons/socketio.svg] }}" alt="" width="32" />
                </span>
                <p class="project-tools-desc">
                    <a href="http://getbootstrap.com/">Socket.IO</a> for real-time data.
                </p>
            </li>
            <li>
                <span class="project-tools-icon">
                    <img src="/{{ fingerprint.[assets/svg/icons/bower.svg] }}" alt="" width="32" />
                </span>
                <p class="project-tools-desc">
                    <a href="http://bower.io/">Bower</a> for front-end package management.
                </p>
            </li>
            <li>
                <span class="project-tools-icon">
                    <img src="/{{ fingerprint.[assets/svg/icons/less.svg] }}" alt="" width="32" />
                </span>
                <p class="project-tools-desc">
                    <a href="http://lesscss.org/">Less</a> for processing CSS.
                </p>
            </li>
            <li>
                <span class="project-tools-icon">
                    <img src="/{{ fingerprint.[assets/svg/icons/browserify.svg] }}" alt="" width="32" />
                </span>
                <p class="project-tools-desc">
                    <a href="http://browserify.org/">Browserify</a> for bundling JavaScript.
                </p>
            </li>
            <li>
                <span class="project-tools-icon">
                    <img src="/{{ fingerprint.[assets/svg/icons/vagrant.svg] }}" alt="" width="32" />
                </span>
                <p class="project-tools-desc">
                    <a href="https://www.vagrantup.com/">Vagrant</a> for consistent development environments.
                </p>
            </li>
            <li>
                <span class="project-tools-icon">
                    <img src="/{{ fingerprint.[assets/svg/icons/markdown.svg] }}" alt="" width="32" />
                </span>
                <p class="project-tools-desc">
                    <a href="http://daringfireball.net/projects/markdown/syntax">Markdown</a> for user content formatting.
                </p>
            </li>
        </ul>

    </section>

</div>
