---
section: projects
title: devnews
description: Developer news aggregator.
---

<div class="project">

    <section class="project-about">

        <h2 class="readable">About The Project</h2>

        <p class="readable">
            Devnews came about as a way to simplify the daily task of checking three websites: Hacker News, GitHub, and Product Hunt. This project aggregates top news, repositories, and products into one web app. This was a great opportunity for me to learn the <a href="http://facebook.github.io/react/">React</a> library.
        </p>

        <div class="project-preview">
            <a href="https://devne.ws/">
                <img class="project-preview-img" src="/{{ fingerprint.[assets/images/screenshots/devnews.png] }}" alt="" />
                <span class="project-preview-text">
                    <span>Visit Website</span>
                </span>
            </a>
        </div>

    </section>

    <section class="project-stack">

        <h2 class="readable">Tech Stack</h2>

        <p>
            Here are the tools used for this project.
        </p>

        <h3>Development</h3>

        <ul class="project-tools">
            <li>
                <span class="project-tools-icon">
                    <img src="/{{ fingerprint.[assets/images/icons/gravit.png] }}" alt="" width="32" />
                </span>
                <p class="project-tools-desc">
                    <a href="https://gravit.io/">Gravit</a> for the logo design and exporting to SVG.
                </p>
            </li>
            <li>
                <span class="project-tools-icon">
                    <img src="/{{ fingerprint.[assets/svg/icons/react.svg] }}" alt="" width="32" />
                </span>
                <p class="project-tools-desc">
                    <a href="http://facebook.github.io/react/">React</a> for building the UI.
                </p>
            </li>
            <li>
                <span class="project-tools-icon">
                    <img src="/{{ fingerprint.[assets/svg/icons/material-ui.svg] }}" alt="" width="32" />
                </span>
                <p class="project-tools-desc">
                    <a href="http://www.material-ui.com/">Material-UI</a> for Material-based components.
                </p>
            </li>
            <li>
                <span class="project-tools-icon">
                    <img src="/{{ fingerprint.[assets/svg/icons/npm.svg] }}" alt="" width="32" />
                </span>
                <p class="project-tools-desc">
                    <a href="https://www.npmjs.com/">npm</a> for package management.
                </p>
            </li>
            <li>
                <span class="project-tools-icon">
                    <img src="/{{ fingerprint.[assets/svg/icons/postcss.svg] }}" alt="" width="32" />
                </span>
                <p class="project-tools-desc">
                    <a href="https://github.com/postcss/postcss">PostCSS</a> for transpiling CSS.
                </p>
            </li>
            <li>
                <span class="project-tools-icon">
                    <img src="/{{ fingerprint.[assets/svg/icons/cssnext.svg] }}" alt="" width="32" />
                </span>
                <p class="project-tools-desc">
                    <a href="http://cssnext.io/">cssnext</a> for writing future CSS.
                </p>
            </li>
            <li>
                <span class="project-tools-icon">
                    <img src="/{{ fingerprint.[assets/svg/icons/webpack.svg] }}" alt="" width="32" />
                </span>
                <p class="project-tools-desc">
                    <a href="https://webpack.github.io/">webpack</a> for bundling JavaScript.
                </p>
            </li>
            <li>
                <span class="project-tools-icon">
                    <img src="/{{ fingerprint.[assets/svg/icons/babel.svg] }}" alt="" width="32" />
                </span>
                <p class="project-tools-desc">
                    <a href="http://babeljs.io/">Babel</a> for compiling ES2015 (ES6).
                </p>
            </li>
        </ul>

        <h3>Services</h3>

        <ul class="project-tools">
            <li>
                <span class="project-tools-icon">
                    <img src="/{{ fingerprint.[assets/svg/icons/surge.svg] }}" alt="" width="32" />
                </span>
                <p class="project-tools-desc">
                    <a href="https://surge.sh/">Surge</a> for static site hosting.
                </p>
            </li>
            <li>
                <span class="project-tools-icon">
                    <img src="/{{ fingerprint.[assets/svg/icons/cloudflare.svg] }}" alt="" width="32" />
                </span>
                <p class="project-tools-desc">
                    <a href="https://www.cloudflare.com/">CloudFlare</a> for managing DNS and security.
                </p>
            </li>
            <li>
                <span class="project-tools-icon">
                    <img src="/{{ fingerprint.[assets/images/icons/google-fonts.png] }}" alt="" width="32" />
                </span>
                <p class="project-tools-desc">
                    <a href="https://www.google.com/fonts/">Google Fonts</a> for embedding the <a href="https://www.google.com/fonts/specimen/Roboto">Roboto typeface</a>.
                </p>
            </li>
        </ul>

    </section>

</div>
