---
section: projects
title: socialshares
description: Lightweight share buttons for the web.
---

<div class="project">

    <section class="project-about">

        <h2>About The Project</h2>

        <p class="readable">
            Socialshares came about as a simple solution to the embedding share scripts problem; solving issues regarding page bloat, privacy invasion, and inconsistent design. This is a small yet important project.
        </p>

        <div class="project-preview">
            <a href="http://socialshar.es/">
                <img class="project-preview-img" src="/{{ fingerprint.[assets/images/screenshots/socialshares.png] }}" alt="" />
                <span class="project-preview-text">
                    <span>Visit Website</span>
                </span>
            </a>
        </div>

    </section>

    <section class="project-stack">

        <h2>Tech Stack</h2>

        <p>
            Here are the tools used for this project.
        </p>

        <h3>Development</h3>

        <ul class="project-tools">
            <li>
                <span class="project-tools-icon">
                    <img src="/{{ fingerprint.[assets/svg/icons/sketch.svg] }}" alt="" width="32" />
                </span>
                <p class="project-tools-desc">
                    <a href="https://www.sketchapp.com/">Sketch</a> for the logo design and exporting to SVG.
                </p>
            </li>
            <li>
                <span class="project-tools-icon">
                    <img src="/{{ fingerprint.[assets/svg/icons/bootstrap.svg] }}" alt="" width="32" />
                </span>
                <p class="project-tools-desc">
                    <a href="http://getbootstrap.com/">Bootstrap</a> for the documentation site design.
                </p>
            </li>
            <li>
                <span class="project-tools-icon">
                    <img src="/{{ fingerprint.[assets/svg/icons/bower.svg] }}" alt="" width="32" />
                </span>
                <p class="project-tools-desc">
                    <a href="http://bower.io/">Bower</a> for front-end package management.
                </p>
            </li>
            <li>
                <span class="project-tools-icon">
                    <img src="/{{ fingerprint.[assets/svg/icons/less.svg] }}" alt="" width="32" />
                </span>
                <p class="project-tools-desc">
                    <a href="http://lesscss.org/">Less</a> for processing CSS.
                </p>
            </li>
        </ul>

        <h3>Services</h3>

        <ul class="project-tools">
            <li>
                <span class="project-tools-icon">
                    <img src="/{{ fingerprint.[assets/svg/icons/github.svg] }}" alt="" width="32" />
                </span>
                <p class="project-tools-desc">
                    <a href="https://pages.github.com/">GitHub Pages</a> for static site hosting.
                </p>
            </li>
            <li>
                <span class="project-tools-icon">
                    <img src="/{{ fingerprint.[assets/svg/icons/cloudflare.svg] }}" alt="" width="32" />
                </span>
                <p class="project-tools-desc">
                    <a href="https://www.cloudflare.com/">CloudFlare</a> for managing DNS and security.
                </p>
            </li>
        </ul>

    </section>

</div>
