---
section: projects
title: socialshares
description: Responsive, secure, and fast share buttons.
---

<div class="project">

    <section class="project-about">

        <h2 class="readable">About The Project</h2>

        <p class="readable">
            Socialshares came about as a simple solution to the embedding share scripts problem; solving issues regarding page bloat, privacy invasion, and inconsistent design. This is a small yet important project.
        </p>

        <div class="project-preview">
            <a href="https://socialshar.es/">
                <img class="project-preview-img" src="/{{ fingerprint.[assets/images/screenshots/socialshares-v2.png] }}" alt="" />
                <span class="project-preview-text">
                    <span>Visit Website</span>
                </span>
            </a>
        </div>

    </section>

    <section class="project-stack">

        <h2 class="readable">Tech Stack</h2>

        <p>
            Here are the tools used for this project.
        </p>

        <h3>Development</h3>

        <ul class="project-tools">
            <li>
                <span class="project-tools-icon">
                    <img src="/{{ fingerprint.[assets/svg/icons/sketch.svg] }}" alt="" width="32" />
                </span>
                <p class="project-tools-desc">
                    <a href="https://www.sketchapp.com/">Sketch</a> for the logo design and exporting to SVG.
                </p>
            </li>
            <li>
                <span class="project-tools-icon">
                    <img src="/{{ fingerprint.[assets/svg/icons/npm.svg] }}" alt="" width="32" />
                </span>
                <p class="project-tools-desc">
                    <a href="https://www.npmjs.com/">npm</a> for package management.
                </p>
            </li>
            <li>
                <span class="project-tools-icon">
                    <img src="/{{ fingerprint.[assets/svg/icons/postcss.svg] }}" alt="" width="32" />
                </span>
                <p class="project-tools-desc">
                    <a href="https://github.com/postcss/postcss">PostCSS</a> for transpiling CSS.
                </p>
            </li>
            <li>
                <span class="project-tools-icon">
                    <img src="/{{ fingerprint.[assets/svg/icons/cssnext.svg] }}" alt="" width="32" />
                </span>
                <p class="project-tools-desc">
                    <a href="http://cssnext.io/">cssnext</a> for writing future CSS.
                </p>
            </li>
            <li>
                <span class="project-tools-icon">
                    <img src="/{{ fingerprint.[assets/svg/icons/webpack.svg] }}" alt="" width="32" />
                </span>
                <p class="project-tools-desc">
                    <a href="https://webpack.github.io/">webpack</a> for bundling JavaScript.
                </p>
            </li>
            <li>
                <span class="project-tools-icon">
                    <img src="/{{ fingerprint.[assets/svg/icons/babel.svg] }}" alt="" width="32" />
                </span>
                <p class="project-tools-desc">
                    <a href="http://babeljs.io/">Babel</a> for compiling ES2015 (ES6).
                </p>
            </li>
        </ul>

        <h3>Services</h3>

        <ul class="project-tools">
            <li>
                <span class="project-tools-icon">
                    <img src="/{{ fingerprint.[assets/svg/icons/surge.svg] }}" alt="" width="32" />
                </span>
                <p class="project-tools-desc">
                    <a href="https://surge.sh/">Surge</a> for static site hosting.
                </p>
            </li>
            <li>
                <span class="project-tools-icon">
                    <img src="/{{ fingerprint.[assets/svg/icons/cloudflare.svg] }}" alt="" width="32" />
                </span>
                <p class="project-tools-desc">
                    <a href="https://www.cloudflare.com/">CloudFlare</a> for managing DNS and security.
                </p>
            </li>
        </ul>

    </section>

</div>
