---
section: projects
title: sunnysingh.io
description: My personal website and developer portfolio.
---

<div class="project">

    <section class="project-about">

        <h2>About The Project</h2>

        <p class="readable">
            I first created my personal website back in August of 2011 and is not only a place for me to display my projects but is also a way for me to experiment with the latest technologies in web development. For this iteration, I decided to learn and make extensive use of <a href="https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Flexible_Box_Layout">Flexbox</a> and <a href="https://developer.mozilla.org/en-US/docs/Web/SVG">SVG</a>.
        </p>

        <div class="project-preview">
            <a href="https://github.com/sunnysingh/web">
                <img class="project-preview-img" src="/{{ fingerprint.[assets/images/screenshots/sunnysinghio.png] }}" alt="" />
                <span class="project-preview-text">
                    <span>Browse Code on GitHub</span>
                </span>
            </a>
        </div>

    </section>

    <section class="project-stack">

        <h2>Tech Stack</h2>

        <p>
            Here are the tools used for this project. You can also see this stack on <a href="http://stackshare.io/sunnysingh/personal-website">StackShare</a>.
        </p>

        <h3>Services</h3>

        <ul class="project-tools">
            <li>
                <span class="project-tools-icon">
                    <img src="/{{ fingerprint.[assets/svg/icons/github.svg] }}" alt="" width="32" />
                </span>
                <p class="project-tools-desc">
                    <a href="https://pages.github.com/">GitHub Pages</a> for static site hosting.
                </p>
            </li>
            <li>
                <span class="project-tools-icon">
                    <img src="/{{ fingerprint.[assets/svg/icons/cloudflare.svg] }}" alt="" width="32" />
                </span>
                <p class="project-tools-desc">
                    <a href="https://www.cloudflare.com/">CloudFlare</a> for managing DNS-level performance and security.
                </p>
            </li>
            <li>
                <span class="project-tools-icon">
                    <img src="/{{ fingerprint.[assets/svg/icons/disqus.svg] }}" alt="" width="32" />
                </span>
                <p class="project-tools-desc">
                    <a href="https://disqus.com/">Disqus</a> for handling article comments.
                </p>
            </li>
            <li>
                <span class="project-tools-icon">
                    <img src="/{{ fingerprint.[assets/images/icons/formspree.png] }}" alt="" width="32" />
                </span>
                <p class="project-tools-desc">
                    <a href="http://formspree.io/">Formspree</a> for handling form submissions.
                </p>
            </li>
            <li>
                <span class="project-tools-icon">
                    <img src="/{{ fingerprint.[assets/images/icons/google-fonts.png] }}" alt="" width="32" />
                </span>
                <p class="project-tools-desc">
                    <a href="https://www.google.com/fonts/">Google Fonts</a> for embedding the <a href="https://www.google.com/get/noto/">Noto typeface</a>.
                </p>
            </li>
            <li>
                <span class="project-tools-icon">
                    <img src="/{{ fingerprint.[assets/svg/icons/google-analytics.svg] }}" alt="" width="32" />
                </span>
                <p class="project-tools-desc">
                    <a href="https://www.google.com/analytics/">Google Analytics</a> for viewing visitor statistics.
                </p>
            </li>
        </ul>

        <h3>Development</h3>

        <ul class="project-tools">
            <li>
                <span class="project-tools-icon">
                    <img src="/{{ fingerprint.[assets/svg/icons/sketch.svg] }}" alt="" width="32" />
                </span>
                <p class="project-tools-desc">
                    <a href="https://www.sketchapp.com/">Sketch</a> for the logo design and exporting to SVG.
                </p>
            </li>
            <li>
                <span class="project-tools-icon">
                    <img src="/{{ fingerprint.[assets/svg/icons/icomoon.svg] }}" alt="" width="32" />
                </span>
                <p class="project-tools-desc">
                    <a href="https://icomoon.io/">IcoMoon</a> for generating SVG icons.
                </p>
            </li>
            <li>
                <span class="project-tools-icon">
                    <img src="/{{ fingerprint.[assets/svg/icons/nodejs.svg] }}" alt="" width="32" />
                </span>
                <p class="project-tools-desc">
                    <a href="http://www.metalsmith.io/">Metalsmith</a> for generating a static site with a <a href="https://nodejs.org/">Node.js</a> build script.
                </p>
            </li>
            <li>
                <span class="project-tools-icon">
                    <img src="/{{ fingerprint.[assets/svg/icons/npm.svg] }}" alt="" width="32" />
                </span>
                <p class="project-tools-desc">
                    <a href="https://www.npmjs.com/">npm</a> for package management.
                </p>
            </li>
            <li>
                <span class="project-tools-icon">
                    <img src="/{{ fingerprint.[assets/svg/icons/postcss.svg] }}" alt="" width="32" />
                </span>
                <p class="project-tools-desc">
                    <a href="https://github.com/postcss/postcss">PostCSS</a> for transpiling CSS.
                </p>
            </li>
            <li>
                <span class="project-tools-icon">
                    <img src="/{{ fingerprint.[assets/svg/icons/cssnext.svg] }}" alt="" width="32" />
                </span>
                <p class="project-tools-desc">
                    <a href="http://cssnext.io/">cssnext</a> for writing future CSS.
                </p>
            </li>
            <li>
                <span class="project-tools-icon">
                    <img src="/{{ fingerprint.[assets/svg/icons/webpack.svg] }}" alt="" width="32" />
                </span>
                <p class="project-tools-desc">
                    <a href="https://webpack.github.io/">webpack</a> for bundling JavaScript.
                </p>
            </li>
            <li>
                <span class="project-tools-icon">
                    <img src="/{{ fingerprint.[assets/svg/icons/babel.svg] }}" alt="" width="32" />
                </span>
                <p class="project-tools-desc">
                    <a href="http://babeljs.io/">Babel</a> for compiling ES2015 (ES6).
                </p>
            </li>
            <li>
                <span class="project-tools-icon">
                    <img src="/{{ fingerprint.[assets/svg/icons/handlebars.svg] }}" alt="" width="32" />
                </span>
                <p class="project-tools-desc">
                    <a href="http://handlebarsjs.com/">Handlebars</a> for templating.
                </p>
            </li>
            <li>
                <span class="project-tools-icon">
                    <img src="/{{ fingerprint.[assets/svg/icons/markdown.svg] }}" alt="" width="32" />
                </span>
                <p class="project-tools-desc">
                    <a href="http://daringfireball.net/projects/markdown/syntax">Markdown</a> for writing article content.
                </p>
            </li>
        </ul>

    </section>

</div>
